{{!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" 
    data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div> --}}

<div class="container">
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-6">
            <form action=""></form>
            <form class="card" style="top: 200px;" action="/login" method="post">
                <div class="card-body z-depth-3 text-center">
                    <h1>Alzheimers Detector</h1>
                    <!-- Material input -->
                    <div class="md-form">
                        <input name="username" type="text" id="uname-input" class="form-control" required>
                        <label for="uname-input">Username</label>
                    </div>
                    <!-- Material input -->
                    <div class="md-form">
                        <input name="password" type="text" id="psswd-input" class="form-control" required>
                        <label for="psswd-input">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
        <div class="col-md"></div>
    </div>
</div>
